body{
    font-family: 'Ropa Sans', sans-serif;
}
figure{
    width: 100%;
}
figure img{
    max-width: 100%;
    height: auto;
    width: 100%;
}
.money::before {
    content:"$";
}

.table thead th {
    color: #ffffff !important;
    border-bottom: 1px solid #ffffff!important;
    background-color: #28a745!important;
}

